/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.wrapper {
	width: 85%;
	margin: 0 auto;
}

.header {
	width: 85%;
	height: 50px;
	margin: 0 auto;
}
.header-title {
	float: left;
	text-align: left;
}
.header h1 {
	line-height: 50px !important;
}

.admin-header {
	text-align: right;
	border-bottom: 1px solid gray;
}
.admin_header h2 {
	display: inline !important;
}

.nav {
	list-style-type: none;
	float: right;
}
.nav li {
	display: inline;
	margin: 10px;
	line-height: 50px;
}

.content {
	width: 70%;
	float: left;
}
.hero {
	height: 500px;
	border: 2px solid gray;
}

.band-bio {
}

.footer {
	border-top: 1px solid gray;
	margin-top: 50px;
}
.footer p {
	text-align: right;
}

.gigs {
	border: 2px solid gray;
	width: 25%;
	float: right;
	padding: 5px;
}
.ind-gig {
	border-bottom: 1px solid gray;
	padding: 5px;
}
.gigs .date {
	font-style: italic;
}

.clear {
	clear: both;
}